body{
    font-style:inherit;
}

.top{
    height: 50px;
    color:rgb(105, 221, 105);
    font-size: 30px;
    margin : 5px 5px;

}

.button{
    float: right;
    height: 25px;
    width:10%;
    color:white;
    background-color: rgb(66, 170, 66);
    font-size: 15px;
    margin: 5px 5px;
    font-weight: bold;
}

.world{
    float: right;
    height: 20px;
    color:grey;
    font-size: 15px;
    margin: 10px 10px;

}

.nav{
    background-color: gray;
    color : white;
    padding: 10px 10px;
    margin:10px;
    text-align: center;
    
}

span{
    font-size: 16px;
    padding: 7px 7px;
    
}

ul{
    background-color: rgb(170, 167, 167);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 680px;
    overflow: auto;
}

p{text-indent: 50px
    ;text-align: left;
}

li:hover{
    color: rgb(184, 230, 184);
}


div.footer{

    background-color: #777;
  padding: 0px;
  text-align: center;
  color: white;
  bottom:0px;
  position:fixed;
  width:100%;
    
}