body{
    font-style:inherit;
}

.top{
    height: 50px;
    color:rgb(105, 221, 105);
    font-size: 30px;
    padding: 20px 10px;
    margin : 5px 10px;

}

.button{
    float: right;
    height: 25px;
    color:white;
    background-color: rgb(66, 170, 66);
    font-size: 15px;
    margin: 5px 10px;
    font-weight: bold;
}

.world{
    float: right;
    height: 20px;
    color:grey;
    font-size: 15px;
    margin: 10px 10px;

}

div.nav{
    background-color: gray;
    color : white;
    margin:10px;
    padding: 10px 10px;
}

span{
    font-size: 16px;
    padding: 7px 7px;
    
}

.float{
    float: right;
    padding: 0px 10px;
}

.horinav{
    background-color: gray;
    color: white;
    font-size: 15px;
}